get_alignments
anchor
-query_genes
QUERY_GENES
-query_genome
QUERY_GENOME
-subject_genome
SUBJECT_GENOME
-query_name_regex
QUERY_NAME_REGEX
-query_anchors
QUERY_ANCHORS
-subject_anchors
SUBJECT_ANCHORS
-ortho_map
ORTHO_MAP
-query_anchors_name_regex
QUERY_ANCHORS_NAME_REGEX
-subject_anchors_name_regex
SUBJECT_ANCHORS_NAME_REGEX
-outdir
OUTDIR
-word_size
6
-neighbour_dist
1000000
-merge_dist
2000000
-flank_dist
200000
-cores
1
--silent