run_pipeline
lift
-query_genes
QUERY_GENES
-query_genome
QUERY_GENOME
-subject_annotation
SUBJECT_ANNOTATION
-subject_genome
SUBJECT_GENOME
-query_name_regex
None
-subject_name_regex
None
-liftover_chains
LIFTOVER_CHAINS
-outdir
OUTDIR
-cores
1
-word_size
6
-seed
0
--silent
--annotate
-sample_size
200
-observations
1000
-min_ratio
0.05
-merge_dist
2000000
-flank_dist
50000
-fitting
kde
-threshold
0.05
--fdr
-timeout
None
-value
block_length
-function
max