run_pipeline
anchor
-query_genes
QUERY_GENES
-query_genome
QUERY_GENOME
-subject_annotation
SUBJECT_ANNOTATION
-subject_genome
SUBJECT_GENOME
-query_name_regex
None
-subject_name_regex
None
-query_anchors
QUERY_ANCHORS
-subject_anchors
SUBJECT_ANCHORS
-ortho_map
ORTHO_MAP
-query_anchors_name_regex
None
-subject_anchors_name_regex
None
-outdir
OUTDIR
-cores
1
-word_size
6
-seed
0
--silent
--annotate
-sample_size
200
-observations
1000
-neighbour_dist
1000000
-merge_dist
2000000
-flank_dist
200000
-fitting
kde
-threshold
0.05
--fdr
-timeout
None
-value
block_length
-function
max